<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/x.core.1.0.0.js"></script>
    <script src="{{ STATIC_URL }}js/x.positioning-1.0.0.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


            $("#testForm").submit(function (event) {
                event.preventDefault();
                {#                $.ajax({#}
                {#                    type: "POST",#}
                {#                    url: "/test_results/",#}
                {#                    data: {#}
                {#                        'arbitrary-data': 'this is arbitrary data',#}
                {#                        'some-form-field': $("myform input:first").val(), // from form#}
                {#                        'background-color': $("body").css("background-color")#}
                {#                        // all of this data is submitted via POST to your view.#}
                {#                        // in django, request.POST['background-color']#}
                {#                    },#}
                {#                    success: function (data) {#}
                {#                        alert(data);#}
                {#                        $("body").append(data);#}
                {#                    }#}
                {#                });#}
                try {
                    xAjax.postWithLoadTarget("/test_results/",
                            {
                                        'arbitrary-data': 'this is arbitrary data',
                                        'some-form-field': $("myform input:first").val(), // from form
                                        'background-color': $("body").css("background-color")
                                        // all of this data is submitted via POST to your view.
                                        // in django, request.POST['background-color']
                                    }
                            , $(".divtest"), function (data) {

                    });
                } catch (e) {

                    alert(e);

                }
            });


            return false;
        });
    </script>
</head>
<body>
<form id="testForm" action="/test_results/" method="post">{% csrf_token %}
    <input type="submit" id="go" name="go" value="Go!">
</form>
</body>
</html>