.t {

    float: left;
    margin: 20px;

    border: solid 1px lightgray;
    width: auto;
    display: block;

}

.row {
    margin-left: 5px;

}

#beforefoo {
    display: none;
    color: red;
    position: fixed;
    right: 25px;
    bottom: 5px;
}

#foo {
    color: red;
    position: fixed;
    right: 10px;
    bottom: 5px;
}

.col-lg-4 {
    width: 50.333333%;
}

.navbar {
    height: 43px;
    min-height: 40px;
}

.col-sm-3 {
    padding-top: 50px;

}

.container .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.loading {
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url('/static/images/loading.gif');
    background-repeat: no-repeat;
    z-index: 5000;
    left: 491px;
    top: 423px;
}

.refresh_block {
    display: inline-block;
    right: 0px;
    top: 0px;
    float: right;
    margin-right: 20px;
    margin-top: 2px
}



.input-group {
    max-width: 200px;
    display: inline-table;
}

.btn-group {
    display: block;
}