{% extends "base.html" %}
{%block content %}
    <table class="table table-bordered">
        <tr>
            <th colspan="2">
                Muhammad Suliman
            </th>
        </tr>
        <tr>
            <td>
                About me
            </td>
            <td>Seeking a lot of contributions inside open source projects with fun. targeting to be at least a good architect guy.
            </td>
        </tr>
        <tr>
            <td>
                Contact me
            </td>
            <td>
                Email: msulimanx@gmail.com<br/>
                Twitter @msulimanx
            </td>
        </tr>
    </table>

{%endblock%}






