{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico">

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/modal.css" rel="stylesheet">

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script>document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><\/script>')</script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery.min.js"><\/script>')</script>

    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/x.core.1.0.0.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.simplemodal-1.4.4.js"></script>
    <script>
        {%block autorefresh%}{%endblock%}
    </script>
</head>
<body>
<div id="beforefoo">
    Auto refresh:
</div>
<div id="foo"></div>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Gearman Admin</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {#                <li><a href="#">Link</a></li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="//gearman.org/download/" target="_blank">Gearman</a></li>
                        <li><a href="//github.com/muhammadsa/Django-GearmanAdmin" target="_blank">Gearman Admin</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {{ ''|generate_refresh|safe }}
                        <li><a class="" href="javascript:timedRefresh(0)">Refresh Now</a></li>
                        <li><a class="" id="diable_auto_refresh" href="#">Disable
                            Auto-Refresh</a></li>
                        <li class="divider"></li>
                        <li><a class="" href={% url "summary" %}>Summary</a></li>
                        <li class="divider"></li>
                        <li><a class="" href={% url "servers" %}>All servers</a></li>

                        <li><a class="" id="add_server" href={% url "add_server" %}>Add server</a></li>
                    </ul>
                </li>

            </ul>
        </div>


        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>

            <div class="jumbotron">
                <h2>Gearman Admin!</h2>

                <p>gearman admin is simplifying the deal with gearman in a web-based interface; not only adminstering
                    gearman but also monitoring for you and notifying when necessary.</p>
            </div>
            {% block content %}

            {% endblock %}


        </div>
        <!--/span-->

        <!-- All heading links are going here-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="list-group">
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; Apache2 License {% now "Y" %}</p>
    </footer>

</div>
<!--/.container-->
<script src="{{ STATIC_URL }}js/notify.min.js"></script>
<script src="{{ STATIC_URL }}js/base.js"></script>
<script src="{{ STATIC_URL }}js/servers.js"></script>
</body>
</html>

