<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico">
    <script type="text/JavaScript">
        {#        function autoReferesh(timeout) {#}
        {#            timedRefresh(timeout);#}
        {#        }#}
        var last_time = 0;

        function timedRefresh(timeoutPeriod) {
            if (last_time != 0) {
                clearTimeout(last_time);
            }
            last_time = setTimeout("location.reload(false);", timeoutPeriod);
        }

    </script>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/modal.css" rel="stylesheet">

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><\/script>')</script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery.min.js"><\/script>')</script>

    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/x.core.1.0.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/x-plugins.1.0.0.0.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.simplemodal-1.4.4.js"></script>


    <script>

        test = function ($end) {
            $('#beforefoo').css('display', 'inline');
            $(document).onload = timedRefresh($end * 1000);
            $('#foo').counter({
                start: 1,
                end: $end,
                time: $end - 1,
                step: 1000,
                callback: function () {
                    //alert("I'm done!");
                }
            });
        };

        {%block autorefresh%}{%endblock%}

    </script>

</head>
<body>
<div id="beforefoo">
    Auto refresh:
</div>
<div id="foo"></div>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Gearman Admin</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://gearman.org/download/" target="_blank">Download Gearman</a></li>
                <li><a href="/about">About</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

{#                <li><a href="#">Link</a></li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">


                        <li><a class="refresh" rate="10" id="refresh_10" href="#">Refresh (10s)</a></li>
                        <li><a class="refresh" rate="20" id="refresh_20" href="#">Refresh (20s)</a></li>
                        <li><a class="refresh" rate="30" id="refresh_30" href="#">Refresh
                            (30s)</a></li>
                        <li><a class="refresh" rate="60" id="refresh_60" href="#">Refresh
                            (1m)</a></li>
                        <li><a class="" href="javascript:timedRefresh(0)">Refresh Now</a></li>
                        <li><a class="" id="diable_auto_refresh" href="#">Disable
                            Auto-Refresh</a></li>
                        <li class="divider"></li>
                        <li><a class="" href={% url "summary" %}>Summary</a></li>
                        <li class="divider"></li>
                        <li><a class="" href={% url "servers" %}>All servers</a></li>

                        <li><a class="" id="add_server" href={% url "add_server" %}>Add server</a></li>
                    </ul>
                </li>
            </ul>
        </div>


        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>

            <div class="jumbotron">
                <h2>Gearman Admin!</h2>

                <p>gearman admin is simplifying the deal with gearman in a web-based interface; not only adminstering
                    gearman but also monitor for you and notifying you when necessary.</p>
            </div>
            {% block content %}

            {% endblock %}


        </div>
        <!--/span-->

        <!-- All heading links are going here-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="list-group">
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; SpaceGit co. Apache2 License 2014</p>
    </footer>

</div>
<!--/.container-->
<script src="{{ STATIC_URL }}js/notify.min.js"></script>
<script src="{{ STATIC_URL }}js/base.js"></script>
<script src="{{ STATIC_URL }}js/servers.js"></script>
</body>
</html>

