<div class="t server{{ value.server.id }}" for="{{ value.server.id }}" >
    {#{% with "shop/"|add:shop_name|add:"/base.html" as template %}#}
    {% with server_id=value.server.id|stringformat:"s" %}
        {% with server_id|add:"_"|add:value.server.filter_basis as s %}
            {% include "filter_basis.html" with id=value.server.id|stringformat:"s" selected=s %}
        {% endwith %}
    {% endwith %}
    <div id="chartcontainer{{ value.server.id }}">Loading ...</div>
</div>
{#<script type="text/javascript">#}
{#    var myData = new Array({{value.history | safe}});#}
{#    var myChart = new JSChart('chartcontainer{{value.server.id}}', 'line');#}
{#    myChart.setDataArray(myData);#}
{#    myChart.setAxisNameX('');#}
{#    myChart.setAxisNameY('');#}
{#    myChart.setAxisValuesAngle(45);#}
{#    myChart.setAxisPaddingBottom(50);#}
{#    var width = $("#server" + "{{ value.server.id }}").width();#}
{#    console.log(width);#}
{#    myChart.setSize(parseInt(width), 400);#}
{#    myChart.setTitle('Response times of {{value.server.host}}:{{value.server.port_no}} for today');#}
{#    {%if value.down_times %}#}
{#        var down_times{{value.server.id}} = new Array({{value.down_times | safe}});#}
{#        //console.log(down_times);#}
{#        for (var i = 0; i < down_times{{value.server.id}}.length; i++) {#}
{#            myChart.setTooltip(down_times{{value.server.id}}[i]);#}
{#        }#}
{#    {%endif%}#}
{#    myChart.draw();#}
{#</script>#}