{% load my_tags %}
<div class="row">
    <label for="year" class="control-label input-group">Filter</label>

    <div class="refresh_block">
        <a class="fast_refresh" href="#" id="refresh_server" for="{{ id }}" data_length="{{ data_length }}" type="{{type|strip}}">Refresh</a>
    </div>
    <div class="btn-group"> {#data-toggle="buttons"#}
        {% for k,v in filter %}
            {% with s=id|add:"_"|add:k %}
                <label class="btn btn-default{% ifequal selected s %} active{% endifequal %}">
                    <input type="radio" data_length="{{ data_length }}" type="{{ type }}" name="{{ id }}" value="{{ id }}_{{ k }}" {% ifequal selected s %}
                           checked="true"{% endifequal %}>{{ v }}
                </label>
            {% endwith %}
        {% endfor %}

    </div>
</div>

{#data attributes#}

{#using html directly#}
{#<div data-internalid="1337"></div>#}

{#or using jquery#}
{#To store something:#}
{#$('#myElId').data('nameYourData', { foo: 'bar' });#}
{#To retrieve data:#}
{#var myData = $('#myElId').data('nameYourData');#}

{##}
{##}
{#<script>#}
{##}
{#try{#}
{#    $("#chartcontainer{{value.server.id}} div").remove();#}
{#}#}
{#catch(ex){#}
{#    //alert(ex);#}
{#}#}
{##}
{#</script>#}
