{% load my_tags %}

<div id="server{{ value.server.id|slugify }}" style="border-bottom: 1px solid #ddd; padding-top: 15px;">
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="2">
                Name: {{ value.server.server_name }}
                <div style="float: right">
                    {% if show_status %}
                        <a class="details" href="#"
                           form_url={% url "status" value.server.id %} alt='get_status'>details</a>
                    {% endif %}

                    {% if value.response_time != '' %}
                        <a class="shutdown" href="#" action={% url "sdown" server_id=value.server.id %} alt='shutdown'>shutdown</a>
                        <a class="shutdown" href="#" action={% url "sdown" grace="grace/" server_id=value.server.id %}>shutdown
                            (gracefully)</a>
                        <a class="workers" href="#" form_url={% url "workers" value.server.id %} alt='get_workers'>workers</a>
                    {% endif %}

                    {% if show_del %}
                        <a class="delete_server" href="#" target_id="#server{{ value.server.id|slugify }}"
                           action_url="{% url "del_server" value.server.id %}" alt='del'>delete</a>
                    {% endif %}

                </div>
            </th>
        </tr>
        <tr>
            <td> host: {{ value.server.host }}</td>
            <td> port: {{ value.server.port_no }}</td>
        </tr>
        <tr class="{% if value.version %}success{% else %}danger{% endif %}">
            <td colspan="2">healthy: {% if value.version %} YES {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <td colspan="2">version: {% if value.version %} {{ value.version }} {% else %} N/A {% endif %}</td>
        </tr>
        <tr>
            <td colspan="2">response_time:  {% if value.response_time != '' %} {{ value.response_time }} {% else %}
                N/A {% endif %}</td>
        </tr>
    </table>
    {#status: {{value.status_response}} <br />#}
    {#value.down_times#}
    {#workers info#}
    {% if status_info %}
        {% include "status_info.html" with value=value status_info=status_info %}
    {% endif %}
    {% if show_graph %}
        {% include "chart.html" with value=value counter=forloop.counter type='servers' %}
    {% endif %}
</div>


{##}
{#   {% if show_filter %}#}
{#            <div class="btn-toolbar" role="toolbar">#}
{#                <div class="btn-group">#}
{#                    <button type="button" class="btn btn-default"><span class="">Currently</span></button>#}
{#                    <button type="button" class="btn btn-default"><span class="">Hourly</span></button>#}
{#                    <button type="button" class="btn btn-default"><span class="">Daily</span></button>#}
{#                    <button type="button" class="btn btn-default"><span class="">Weekly</span></button>#}
{#                    <button type="button" class="btn btn-default"><span class="">Monthly</span></button>#}
{##}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
{##}
{#        <div id="chartcontainer{{ value.server.id }}">Loading ...</div>#}
{#        <script type="text/javascript">#}
{#            var myData = new Array({{value.history|safe}});#}
{#            var myChart = new JSChart('chartcontainer{{value.server.id}}', 'line');#}
{#            myChart.setDataArray(myData);#}
{#            myChart.setAxisNameX('');#}
{#            myChart.setAxisNameY('');#}
{#            myChart.setAxisValuesAngle(45);#}
{#            myChart.setAxisPaddingBottom(50);#}
{#            var width = $("#server" + "{{ value.server.id }}").width();#}
{##}
{#            myChart.setSize(width + 25, 350)#}
{#            myChart.setTitle('Response times of gearman job server in {{value.server.host}}:{{value.server.port_no}} for today');#}
{#            {%if value.down_times  %}#}
{#                var down_times{{value.server.id}} = new Array({{value.down_times | safe}});#}
{#                //console.log(down_times);#}
{#                for (var i = 0; i < down_times{{value.server.id}}.length; i++) {#}
{#                    myChart.setTooltip(down_times{{value.server.id}}[i]);#}
{#                }#}
{#            {%endif%}#}
{##}
{#            myChart.draw();#}
{#        </script>#}