<table class="table table-bordered">
    <tr>
        <th colspan="2">Workers</th>
    </tr>
    {% if value.status_response|length %}
        {% for worker in value.status_response %}
            <tr>
                <td><b>task: </b></td>
                <td> {{ worker.task }}</td>
            </tr>
            <tr>
                <td>subscribed workers count:</td>
                <td>{{ worker.workers }}</td>
            </tr>
            <tr>
                <td>running workers:</td>
                <td>{{ worker.running }}</td>
            </tr>
            <tr>
                <td>queued workers:</td>
                <td>{{ worker.queued }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr class="bg-warning"><td colspan="2">No workers here</td> </tr>
    {% endif %}

</table>